<a href="https://colab.research.google.com/github/KathyRoma/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/LS_DS16_112_Make_Features_AssignmentERv2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd

In [0]:
# I chose to display equal number of columns and rows
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')
df.shape

# there's only 81 column, though

(1460, 81)

In [0]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,BldgType,HouseStyle,OverallQual,OverallCond,YearBuilt,YearRemodAdd,RoofStyle,RoofMatl,Exterior1st,Exterior2nd,MasVnrType,MasVnrArea,ExterQual,ExterCond,Foundation,BsmtQual,BsmtCond,BsmtExposure,BsmtFinType1,BsmtFinSF1,BsmtFinType2,BsmtFinSF2,BsmtUnfSF,TotalBsmtSF,Heating,HeatingQC,CentralAir,Electrical,1stFlrSF,2ndFlrSF,LowQualFinSF,GrLivArea,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,KitchenQual,TotRmsAbvGrd,Functional,Fireplaces,FireplaceQu,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond,PavedDrive,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2003,2003,Gable,CompShg,VinylSd,VinylSd,BrkFace,196.0,Gd,TA,PConc,Gd,TA,No,GLQ,706,Unf,0,150,856,GasA,Ex,Y,SBrkr,856,854,0,1710,1,0,2,1,3,1,Gd,8,Typ,0,NaN,Attchd,2003.0,RFn,2,548,TA,TA,Y,0,61,0,0,0,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,1Fam,1Story,6,8,1976,1976,Gable,CompShg,MetalSd,MetalSd,None,0.0,TA,TA,CBlock,Gd,TA,Gd,ALQ,978,Unf,0,284,1262,GasA,Ex,Y,SBrkr,1262,0,0,1262,0,1,2,0,3,1,TA,6,Typ,1,TA,Attchd,1976.0,RFn,2,460,TA,TA,Y,298,0,0,0,0,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,1Fam,2Story,7,5,2001,2002,Gable,CompShg,VinylSd,VinylSd,BrkFace,162.0,Gd,TA,PConc,Gd,TA,Mn,GLQ,486,Unf,0,434,920,GasA,Ex,Y,SBrkr,920,866,0,1786,1,0,2,1,3,1,Gd,6,Typ,1,TA,Attchd,2001.0,RFn,2,608,TA,TA,Y,0,42,0,0,0,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,1Fam,2Story,7,5,1915,1970,Gable,CompShg,Wd Sdng,Wd Shng,None,0.0,TA,TA,BrkTil,TA,Gd,No,ALQ,216,Unf,0,540,756,GasA,Gd,Y,SBrkr,961,756,0,1717,1,0,1,0,3,1,Gd,7,Typ,1,Gd,Detchd,1998.0,Unf,3,642,TA,TA,Y,0,35,272,0,0,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,1Fam,2Story,8,5,2000,2000,Gable,CompShg,VinylSd,VinylSd,BrkFace,350.0,Gd,TA,PConc,Gd,TA,Av,GLQ,655,Unf,0,490,1145,GasA,Ex,Y,SBrkr,1145,1053,0,2198,1,0,2,1,4,1,Gd,9,Typ,1,TA,Attchd,2000.0,RFn,3,836,TA,TA,Y,192,84,0,0,0,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [0]:
# let's have a look what types of data we have
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [0]:
# I'm listing column names in string format just for the sake of convenience
list(df.columns)

['Id',
 'MSSubClass',
 'MSZoning',
 'LotFrontage',
 'LotArea',
 'Street',
 'Alley',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'Fireplaces',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PavedDrive',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition',
 'SalePrice']

In [0]:
# Looking at a specific column
df['BedroomAbvGr']

0       3
1       3
2       3
3       3
4       4
       ..
1455    3
1456    3
1457    4
1458    2
1459    3
Name: BedroomAbvGr, Length: 1460, dtype: int64

In [0]:
# Some peculiarity about this column: why those .0 deciment parts?
df['LotFrontage']

0       65.0
1       80.0
2       68.0
3       60.0
4       84.0
        ...
1455    62.0
1456    85.0
1457    66.0
1458    68.0
1459    75.0
Name: LotFrontage, Length: 1460, dtype: float64

In [0]:
# Let's count values
df['LotFrontage'].value_counts()

60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 110, dtype: int64

In [0]:
# Just curious
df['BsmtCond'].value_counts()

TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64

In [0]:
# Dealing with missing data
df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64

In [0]:
import numpy as np
type(np.NaN)
# Apparently NaN is a float

float

In [0]:
# Let's make a fragmented copy of an original DataFrame
df_fragm = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()
df_fragm.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [0]:
df_fragm.dtypes
# Means we can do math with this values

TotalBsmtSF    int64
1stFlrSF       int64
2ndFlrSF       int64
SalePrice      int64
dtype: object

In [0]:
# How big are those houses, anyway?
## We calculate total square footage
df_fragm['TotalSqFt']= (df_fragm['1stFlrSF'] + df_fragm['2ndFlrSF'] + df_fragm['TotalBsmtSF'])
df_fragm.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSqFt
0          856       856       854     208500       2566
1         1262      1262         0     181500       2524
2          920       920       866     223500       2706
3          756       961       756     140000       2473
4         1145      1145      1053     250000       3343

In [0]:
# Now we can identify price per square meter which is a basic business parameter in real estate
df_fragm['PricePerSqFt'] = df_fragm['SalePrice']/df_fragm['TotalSqFt']
df_fragm.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  TotalSqFt  PricePerSqFt
0          856       856       854     208500       2566     81.254871
1         1262      1262         0     181500       2524     71.909667
2          920       920       866     223500       2706     82.594235
3          756       961       756     140000       2473     56.611403
4         1145      1145      1053     250000       3343     74.783129

In [0]:
# Loading another dataset using shell command 
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-05-06 06:04:45--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 54.68.72.83, 34.211.18.146, 52.89.161.10
Connecting to resources.lendingclub.com (resources.lendingclub.com)|54.68.72.83|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [              <=>   ]  22.05M  2.09MB/s    in 11s

2020-05-06 06:04:57 (1.96 MB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [23121687]

In [0]:
# Now I know how to deal with .zip files (sort of read them directly, without downloading to my computer)
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
# New way to look at the first rows of a dataset
!head LoanStats_2018Q4.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","10000","10000","10000"," 60 months"," 16.14%","243.93","C","C4","Sale Consultant","2 years","RENT","90000","Not Verified","Dec-2018","Fully Paid","n","","","debt_consolidation","Debt consolidation","079xx","NJ","8.8","0","Mar-1991","1","","43","11","1","10582","58.5%","32","w","0.00","0.00","10661.0577272374","10661.06","10000.00","661.06","0.0","0.0","0.0","May-2019","9698.79","","Dec-2019","0","","1","Individual","","","","0","0","15470","1","1","0","1","18","4888","65","1","3","2969","60","18100","2","0","2","4","1719","4906","67.3","0","0","133","333","2","2","1","2","","1","","0","4","6","5","15","6","8","23","6","11","0","0","0","1","100","80","1","0","25600","15470","15000","7500","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6500","6500","6500"," 36 months"," 11.80%","215.28","B","B4","Educator ","2 years","RENT","46500","Source Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","352xx","AL","21.01","0","Aug-2011","1","61","","24","0","6741","41.6%","30","w","4066.26","4066.26","3222.81","3222.81","2433.74","789.07","0.0","0.0","0.0","Mar-2020","215.28","Apr-2020","Apr-2020","0","61","1","Individual","","","","0","0","40223","4","12","2","2","5","33482","97","7","12","3662","79","16200","2","0","4","14","1749","7694","42.2","0","0","88","72","1","1","0","3","","5","61","2","6","10","6","6","14","11","16","10","24","0","0","0","9","93.3","0","0","0","50845","40223","13300","34645","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","4500","4500","4500"," 36 months"," 11.31%","147.99","B","B3","Accounts Examiner III","10+ years","RENT","38500","Not Verified","Dec-2018","Fully Paid","n","","","credit_card","Credit card refinancing","786xx","TX","4.64","0","Dec-2003","0","25","","12","0","4472","15.3%","25","w","0.00","0.00","4549.2171485504","4549.22","4500.00","49.22","0.0","0.0","0.0","Feb-2019","4553.46","","Feb-2020","0","25","1","Individual","","","","0","306","29137","2","1","1","1","3","24665","100","3","7","3612","54","29200","0","3","3","8","2428","10735","28.9","0","0","180","69","2","2","0","2","","6","","1","3","5","5","6","10","11","15","5","12","0","0","0","4","91.7","0","0","0","53795","29137","15100","24595","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 14.47%","587.82","C","C2","teacher","10+ years","OWN","110000","Not Verified","Dec-2018","Charged Off","n","","","credit_card","Credit card refinancing","117xx","NY","26.43","1","Jan-1997","0","7","","23","0","39053","45.7%","49","w","0.00","0.00","5848.05","5848.05","3024.11","2823.94","0.0","0.0","0.0","Oct-2019","587.82","","Apr-2020","0","7","1","Individual","","","","0","0","95648","0","3","0","0","35","54716","23","1","2","8422","39","85500","0","1","0","2","4159","34837","44.5","0","0","263","246","10","10","0","48","","","","0","9","13","10","14","21","19","27","13","23","0","0","1","1","98","10","0","0","179321","95648","62800","91424","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","30000","30000","30000"," 60 months"," 27.27%","920.91","E","E5","Claims Analyst","1 year","RENT","50000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","857xx","AZ","23.62","0","Dec-1997","1","","","10","0","1258","10.7%","16","w","25780.25","25780.25","13745.47","13745.47","4219.75","9525.72","0.0","0.0","0.0","Mar-2020","920.91","Apr-2020","Apr-2020","0","","1","Individual","","","","0","0","27364","1","4","1","2","6","26106","76","0","1","1258","59","11800","2","0","1","3","2736","8842","12.5","0","0","84","252","16","6","0","16","","6","","0","1","1","4","4","7","6","9","1","10","0","0","0","1","100","0","0","0","46300","27364","10100","34500","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.14%","352.27","C","C4","Training Manager","10+ years","MORTGAGE","94800","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","325xx","FL","28.59","0","Jan-2009","1","","","18","0","49976","65.8%","37","w","6406.91","6406.91","5270.6","5270.60","3593.09","1677.51","0.0","0.0","0.0","Mar-2020","352.27","Apr-2020","Apr-2020","0","","1","Individual","","","","0","0","361716","1","6","2","4","6","45778","64","0","1","8297","65","75900","1","15","4","6","20095","12249","49.2","0","0","107","119","15","6","4","36","","0","","0","2","8","3","7","16","11","17","8","18","0","0","0","3","100","33.3","0","0","415969","95754","24100","71489","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 60 months"," 12.98%","568.58","B","B5","Tire builder","10+ years","MORTGAGE","85000","Not Verified","Dec-2018","Current","n","","","debt_consolidation","Debt consolidation","356xx","AL","36.67","1","Oct-1993","1","10","","14","0","26630","53.3%","27","w","20172.09","20172.09","8501.66","8501.66","4827.91","3673.75","0.0","0.0","0.0","Mar-2020","568.58","Apr-2020","Apr-2020","0","40","1","Joint App","140000","23.08","Not Verified","0","56","206980","1","7","1","3","3","69513","81","1","1","17292","68","50000","1","3","1","4","14784","18581","57.7","0","0","186","185","9","3","4","9","10","3","10","1","4","5","4","5","13","6","10","5","14","0","0","0","2","85.2","0","0","0","275691","96143","43900","99691","48711","Oct-1993","1","4","16","56.5","8","12","0","0","49","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10400","10400","10400"," 36 months"," 12.98%","350.32","B","B5","Program Support Assistant ","10+ years","MORTGAGE","56099","Source Verified","Dec-2018","Current","n","","","credit_card","Credit card refinancing","800xx","CO","20.92","0","Jul-2013","2","32","67","8","1","1669","9.8%","10","w","6549.15","6549.15","5243.55","5243.55","3850.85","1392.70","0.0","0.0","0.0","Mar-2020","350.32","Apr-2020","Apr-2020","0","","1","Individual","","","","0","0","39564","4","2","1","2","1","37895","92","3","6","725","36","17000","1","0","4","8","4946","15331","9.8","0","0","65","57","1","1","0","1","","0","32","0","3","3","6","6","3","6","7","3","8","0","0","0","4","90","0","1","0","60709","39564","17000","43709","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [0]:
# Something odd at the end, too
!tail LoanStats_2018Q4.csv

"","","5600","5600","5600"," 36 months"," 13.56%","190.21","C","C1","","n/a","RENT","15600","Not Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","836xx","ID","15.31","0","Aug-2012","0","","97","9","1","5996","34.5%","11","w","3082.01","3082.01","3413.23","3413.23","2517.99","895.24","0.0","0.0","0.0","Apr-2020","190.21","May-2020","Apr-2020","0","","1","Individual","","","","0","0","5996","0","0","0","1","20","0","","0","2","3017","35","17400","1","0","0","3","750","4689","45.5","0","0","20","73","13","13","0","13","","20","","0","3","5","4","4","1","9","10","5","9","0","0","0","0","100","25","1","0","17400","5996","8600","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","23000","23000","23000"," 36 months"," 15.02%","797.53","C","C3","Tax Consultant","10+ years","MORTGAGE","75000","Source Verified","Oct-2018","Charged Off","n","","","debt_consolidation","Debt consolidation","352xx","AL","20.95","1","Aug-1985","2","22","","12","0","22465","43.6%","28","w","0.00","0.00","1547.08","1547.08","1025.67","521.41","0.0","0.0","0.0","Dec-2018","797.53","","Nov-2018","0","","1","Individual","","","","0","0","259658","4","2","3","3","6","18149","86","4","6","12843","56","51500","2","2","5","11","21638","26321","44.1","0","0","12","397","4","4","6","5","22","4","22","0","4","5","7","14","3","9","19","5","12","0","0","0","7","96.4","14.3","0","0","296500","40614","47100","21000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 15.02%","346.76","C","C3","security guard","5 years","MORTGAGE","38000","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","443xx","OH","13.16","3","Jul-1982","0","6","","11","0","5634","37.1%","16","w","5557.25","5557.25","6233.34","6233.34","4442.75","1790.59","0.0","0.0","0.0","Apr-2020","346.76","May-2020","Apr-2020","0","","1","Individual","","","","0","155","77424","0","1","0","0","34","200","10","1","1","1866","42","15200","2","0","0","2","7039","4537","50.1","0","0","34","434","11","11","3","11","6","17","6","0","3","5","5","6","1","8","11","5","11","0","0","0","1","73.3","40","0","0","91403","9323","9100","2000","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","Payoff Clerk","10+ years","MORTGAGE","35360","Not Verified","Oct-2018","Current","n","","","debt_consolidation","Debt consolidation","381xx","TN","11.3","1","Jun-2006","0","21","","9","0","2597","27.3%","15","f","2751.79","2751.79","3053.17","3053.17","2248.21","804.96","0.0","0.0","0.0","Apr-2020","169.83","May-2020","Apr-2020","0","","1","Individual","","","","0","1413","69785","0","2","0","1","16","2379","40","3","4","1826","32","9500","0","0","1","5","8723","1174","60.9","0","0","147","85","9","9","2","10","21","9","21","0","1","3","2","2","6","6","7","3","9","0","0","0","3","92.9","50","0","0","93908","4976","3000","6028","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","9750"," 36 months"," 11.06%","327.68","B","B3","","n/a","RENT","44400","Source Verified","Oct-2018","Current","n","","","credit_card","Credit card refinancing","980xx","WA","11.78","0","Oct-2008","2","40","","15","0","6269","13.1%","25","f","5411.74","5276.45","5882.88","5735.81","4588.26","1294.62","0.0","0.0","0.0","Apr-2020","327.68","May-2020","Apr-2020","0","53","1","Individual","","","","0","520","16440","3","1","1","1","2","10171","100","2","5","404","28","47700","0","3","5","6","1265","20037","2.3","0","0","61","119","1","1","0","1","","1","40","1","2","4","6","8","3","14","22","4","15","0","0","0","3","92","0","0","0","57871","16440","20500","10171","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 36 months"," 16.91%","356.08","C","C5","Key Accounts Manager","2 years","RENT","80000","Not Verified","Oct-2018","Current","n","","","other","Other","021xx","MA","17.72","1","Sep-2006","0","14","","17","0","1942","30.8%","31","w","5626.39","5626.39","6400.05","6400.05","4373.61","2026.44","0.0","0.0","0.0","Apr-2020","356.08","May-2020","Apr-2020","0","25","1","Individual","","","","0","0","59194","0","15","1","1","12","57252","85","0","0","1942","80","6300","0","5","0","1","3482","2058","48.5","0","0","144","142","40","12","0","131","30","","30","3","1","1","1","5","22","2","9","1","17","0","0","0","1","74.2","0","0","0","73669","59194","4000","67369","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 2050909275
Total amount funded in policy code 2: 820109297

In [0]:
# I don't want to overwrite my previous DataFrame specified as df, so I use df2 to explore the second set
## Need to delete those confusing lines at the beginning and at the end
import pandas as pd

df2 = pd.read_csv('LoanStats_2018Q4.csv', 
                 skiprows=1, 
                 skipfooter=2)

print(df2.shape)
df2.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """

(128412, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
# Looking for missing values, sort them assending
df2.isnull().sum().sort_values()

inq_fi                           0
mo_sin_old_rev_tl_op             0
delinq_amnt                      0
chargeoff_within_12_mths         0
acc_open_past_24mths             0
                             ...
settlement_percentage       127661
desc                        128412
url                         128412
member_id                   128412
id                          128412
Length: 144, dtype: int64

In [0]:
df2.tail()

        id  member_id  ...  settlement_percentage  settlement_term
128407 NaN        NaN  ...                    NaN              NaN
128408 NaN        NaN  ...                    NaN              NaN
128409 NaN        NaN  ...                    NaN              NaN
128410 NaN        NaN  ...                    NaN              NaN
128411 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
# Again, getting rid of confusing rows
df2 = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [0]:
df2.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
# let's delete columns with anonimous data (which is just missing data for us)
df2 = df2.drop(columns=['id', 'member_id', 'url', 'desc'])

In [0]:
df2.head()

   loan_amnt  funded_amnt  ...  settlement_percentage settlement_term
0      10000        10000  ...                    NaN             NaN
1       6500         6500  ...                    NaN             NaN
2       4500         4500  ...                    NaN             NaN
3      25000        25000  ...                    NaN             NaN
4      30000        30000  ...                    NaN             NaN

[5 rows x 140 columns]

In [0]:
# Convert the term column from string to integer

In [0]:
# Check the type of variable in the column
df2['term'][:10]

0     60 months
1     36 months
2     36 months
3     60 months
4     60 months
5     36 months
6     60 months
7     36 months
8     36 months
9     36 months
Name: term, dtype: object

In [0]:
# Pick up one value
df2['term'][0]

' 60 months'

In [0]:
# We have to get rid of the space, and also to fix the repeated months sutuation
## Assign a variable
term = ' 36 months'

In [0]:
# Check the type
type(term.strip().strip('months'))

str

In [0]:
# Convert it to integer
int(term.strip().strip('months'))

36

In [0]:
# Let's write a function for this action as long as we will need it to fix the whole column
def term_to_int(term):
  return int(term.strip().strip('months'))

In [0]:
term_to_int(term)
# Works nicely

36

In [0]:
# Create a new column with numeric values (so we can manipulate this data mathematically)
new_term = []
for term in df2['term']:
  new_term.append(int(term.strip().strip('months')))

df2['new_term'] = pd.Series(new_term)

In [0]:
# The new column is in place
df2.head()

   loan_amnt  funded_amnt  ...  settlement_term new_term
0      10000        10000  ...              NaN       60
1       6500         6500  ...              NaN       36
2       4500         4500  ...              NaN       36
3      25000        25000  ...              NaN       60
4      30000        30000  ...              NaN       60

[5 rows x 141 columns]

In [0]:
# Use .apply method for the sake of time and beauty
## It does the same thing!
df2['term_int'] = df2['term'].apply(term_to_int)
df2.head()

   loan_amnt  funded_amnt  funded_amnt_inv  ... settlement_term new_term  term_int
0      10000        10000          10000.0  ...             NaN       60        60
1       6500         6500           6500.0  ...             NaN       36        36
2       4500         4500           4500.0  ...             NaN       36        36
3      25000        25000          25000.0  ...             NaN       60        60
4      30000        30000          30000.0  ...             NaN       60        60

[5 rows x 142 columns]

In [0]:
# Now we can count averages and medians
df2['new_term'].mean()

43.51948416035884

In [0]:
# Let's practice some feature engineering by creating a new column using existing data
## Let's have a look how are people doing with their loans
df2['loan_status'].value_counts(dropna=False).head(20)

Current               88581
Fully Paid            28378
Charged Off            8016
Late (31-120 days)     2055
In Grace Period         732
Late (16-30 days)       327
Default                 323
Name: loan_status, dtype: int64

In [0]:
len(df2['loan_status'].value_counts())
# How many unique statuses are there

7

In [0]:
df2['loan_status'].isnull().sum()
# No missing values

0

In [0]:
# Assign a new variable and create an empty list for further manipulations
loan_statuses = ['Current', 'Late (31-120 days)', 'In Grace Period', 'Default', 'Fully Paid']
loan_status_int = []

In [0]:
# Let's write a function that identifies if the person is doing great with their money
def status_great(status_string):
  if status_string=='Current' or status_string=='Fully Paid':
   return "Great"
  else:
   return "Not so great"

for status in loan_statuses:
  print(status_great(status))

Great
Not so great
Not so great
Not so great
Great

In [0]:
def status_great(status_string):
  if status_string=='Current' or status_string=='Fully Paid':
    return 1
  else:
    return 0
# Use .append method to fill in our empty list

for status in loan_statuses:
  loan_status_int.append(status_great(status))  

loan_status_int

[1, 0, 0, 0, 1]

In [0]:
df2['Great_status'] = df2['loan_status'].apply(status_great)

df2.head()
# Works smoothly -- just scroll right to see the new column

   loan_amnt  funded_amnt  funded_amnt_inv  ... new_term term_int  Great_status
0      10000        10000          10000.0  ...       60       60             1
1       6500         6500           6500.0  ...       36       36             1
2       4500         4500           4500.0  ...       36       36             1
3      25000        25000          25000.0  ...       60       60             0
4      30000        30000          30000.0  ...       60       60             1

[5 rows x 143 columns]

**Make last_pymnt_d_month and last_pymnt_d_year columns**

In [0]:
# Let's find columns with date and time
[col for col in df2 if col.endswith('_d')]

# Four columns

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
df2['last_pymnt_d'].head()

0    May-2019
1    Mar-2020
2    Feb-2019
3    Oct-2019
4    Mar-2020
Name: last_pymnt_d, dtype: object

In [0]:
df2['last_pymnt_d'].value_counts()

Apr-2020    73153
Mar-2020    10734
May-2020     7488
Jul-2019     3146
Sep-2019     2755
Dec-2019     2730
Oct-2019     2722
Aug-2019     2716
May-2019     2547
Nov-2019     2388
Apr-2019     2356
Jan-2020     2336
Jun-2019     2288
Mar-2019     1984
Feb-2019     1915
Feb-2020     1858
Jun-2020     1609
Jan-2019     1561
Dec-2018     1054
Nov-2018      679
Oct-2018      234
Name: last_pymnt_d, dtype: int64

In [0]:
df2['last_pymnt_d'] = pd.to_datetime(df2['last_pymnt_d'], infer_datetime_format=True)

In [0]:
df2['last_pymnt_d'][0]

Timestamp('2019-05-01 00:00:00')

In [0]:
df2['last_pymnt_d'].head()

0   2019-05-01
1   2020-03-01
2   2019-02-01
3   2019-10-01
4   2020-03-01
Name: last_pymnt_d, dtype: datetime64[ns]

In [0]:
df2['last_pymnt_d'].dt.year
#Wow, years with .0 deciment part!

0         2019.0
1         2020.0
2         2019.0
3         2019.0
4         2020.0
           ...
128407    2018.0
128408    2020.0
128409    2020.0
128410    2020.0
128411    2020.0
Name: last_pymnt_d, Length: 128412, dtype: float64

In [0]:
# Check for missing values
df2['last_pymnt_d'].isnull().sum()

159

In [0]:
df2['last_pymnt_d'].dt.month

0          5.0
1          3.0
2          2.0
3         10.0
4          3.0
          ...
128407    12.0
128408     4.0
128409     4.0
128410     4.0
128411     4.0
Name: last_pymnt_d, Length: 128412, dtype: float64

In [0]:
# Still figuring out how to convert missing values to NaT format

In [0]:
df2['last_pymnt_d_year'] = df2['last_pymnt_d'].dt.year
#Wow, years with .0 deciment part!
df2.head()

   loan_amnt  funded_amnt  ...  Great_status last_pymnt_d_year
0      10000        10000  ...             1            2019.0
1       6500         6500  ...             1            2020.0
2       4500         4500  ...             1            2019.0
3      25000        25000  ...             0            2019.0
4      30000        30000  ...             1            2020.0

[5 rows x 144 columns]

In [0]:
df2['last_pymnt_d_month'] = df2['last_pymnt_d'].dt.month #astype(int) -- Tried to do it but it didn't work
df2.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_year last_pymnt_d_month
0      10000        10000  ...             2019.0                5.0
1       6500         6500  ...             2020.0                3.0
2       4500         4500  ...             2019.0                2.0
3      25000        25000  ...             2019.0               10.0
4      30000        30000  ...             2020.0                3.0

[5 rows x 145 columns]

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01